# virtual environment
.venv/
venv/

# env files
.env
.env.*
!.env.example

# python cache
__pycache__/
*.py[cod]

# test / coverage / type check / lint cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# django / local files
*.log
media/
staticfiles/

# OS / editor
.DS_Store
.idea/
.vscode/

# mypy / pyright / pyre
.pyre/